.forgotPassword {
    p {
        margin-bottom: 30px;
        &:hover {
            cursor: auto;
            color: #fff;
        }
    }
    
    
    button {
        outline: none;
        border: none;
        border-radius: 8px;
        display: block;
        &#submitEmail {
            background-color: rgba(53, 53, 53, 0.651);
            color: #fff;
            padding: 10px 20px;
            margin-left: auto;
            cursor: pointer;
            transition: .15s ease-out;
    
            &:hover {
                background-color: rgba(29, 29, 29, 0.685);;
            }
        }
    
        &#backToLogin {
            background-color: rgba(53, 53, 53, 0.651);
            color: #fff;
            padding: 10px 20px;
            margin: 0 auto;
            margin-top: 50px;
            cursor: pointer;
            transition: .15s ease-out;
    
            &:hover {
                background-color: rgba(29, 29, 29, 0.685);;
            }
        }
    }
}
