


    .registerBox {
        position: fixed;
        inset: 0;
        margin: auto;
        max-width: 350px;
        width: 100%;
        padding: 20px;
        height: fit-content;
        background-color: rgba(39, 39, 39, 0.952);
        backdrop-filter: blur(5px) saturate(500%) brightness(200%);
        border-radius: 20px;
        animation: registerBox_fadeIn .25s;
        animation-fill-mode: forwards;

        &.closeAnimation { 
            &.registerBox {
                animation: registerBox_fadeOut .25s;
            }
        }

        button#forgot_password {
            display: block;
            margin-left: auto;
            border: none;
            outline: none;
            cursor: pointer;
            color: rgb(180, 180, 180); 
            background-color: transparent;
        }

        button#submit_register { 
            display: block;
            width: 100%;
            margin-top: 20px;
            background-color: rgba(53, 53, 53, 0.651);
            color: #fff;
            border: none;
            outline: none;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            transition: .15s ease-out;

            &:hover {
                background-color: rgba(29, 29, 29, 0.685);
            }
        }

        p {
            font-weight: 300;
            text-align: center;
            margin-top: 30px;
            cursor: pointer;
            transition: .15s ease-out;

            &:hover {
                color: rgb(202, 202, 202);
            }
        }

        button#switch_register {
            display: block;
            width: 130px;
            padding: 7px;
            background-color: rgba(53, 53, 53, 0.651);
            color: #fff;
            border: none;
            outline: none;
            border-radius: 10px;
            margin: 0 auto;
            cursor: pointer;
            transition: .15s ease-out;

            &:hover {
                background-color: rgba(29, 29, 29, 0.685);
            }
        }
    }

    @keyframes registerBox_fadeIn {
        0% {
            transform: scale(80%);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes registerBox_fadeOut {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(80%);
            opacity: 0;
        }
    }

    @keyframes backdrop_fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes backdrop_fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

